{% extends 'AdminArea/base.html.twig' %}
{% block body %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Add new worker</h1>
        </div>

    {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {% if worker is defined %}
            {{ form_start(form) }}
            {{ form_row(form._token) }}
            {{ form_errors(form) }}

            Name {{ form_widget(form.name) }}
            Surname {{ form_widget(form.surname) }}
            Birth date {{ form_widget(form.birth_date) }}
            Address {{ form_widget(form.address) }}
            Phone number {{ form_widget(form.phone_number) }}
            Email {{ form_widget(form.email) }}
            <div style="visibility: hidden;">{{ form_widget(form.duty) }}</div>
            <div style="visibility: hidden;">{{ form_widget(form.id) }}</div>
            <button type="submit" class="btn btn-primary">Edit worker</button>
        {% else %}
            {{ form_start(form) }}
            {{ form_row(form._token) }}
            {{ form_errors(form) }}
            Duty {{ form_widget(form.duty) }}
            ID {{ form_widget(form.id) }}
            Name {{ form_widget(form.name) }}
            Surname {{ form_widget(form.surname) }}
            Birth date {{ form_widget(form.birth_date) }}
            Address {{ form_widget(form.address) }}
            Phone number {{ form_widget(form.phone_number) }}
            Email {{ form_widget(form.email) }}
            <br>
            <button type="submit" class="btn btn-primary">Add new worker</button>
        {% endif %}

{% endblock %}