{% extends 'AdminArea/base.html.twig' %}
{% block body %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Products report</h1>
    </div>
    <!-- MOTHERBOARDS -->

    <div class="row">
        <div class="col-sm-6">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Motherboards</h1>
            </div>
    <table class="table table-striped table-sm">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Price</th>
            <th>Discount Price</th>
            <th>Quantity</th>
            <th>Warranty</th>
            <th>Add Date</th>
            <th>Edit Date</th>
        </tr>
        {% for p in products %}
            {% for mb in mbs %}
                {% if p.productNumber == mb.productNumber %}
                    <tr>
                        <td>{{ p.productNumber }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.price }}</td>
                        <td>{{ p.discountPrice }}</td>
                        <td>{{ p.quantity }}</td>
                        <td>{{ p.warrantyTime }}</td>
                        <td>{{ p.addDate|date('Y-m-d') }}</td>
                        {% if p.lastEditDate == '' %}
                            <td>N/A</td>
                        {% else %}
                            <td>{{ p.lastEditDate|date('Y-m-d') }}</td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
    <!-- CPU -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">CPUs</h1>
    </div>
    <table class="table table-striped table-sm">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Price</th>
            <th>Discount Price</th>
            <th>Quantity</th>
            <th>Warranty</th>
            <th>Add Date</th>
            <th>Edit Date</th>
        </tr>
        {% for p in products %}
            {% for cpu in cpus %}
                {% if p.productNumber == cpu.productNumber %}
                    <tr>
                        <td>{{ p.productNumber }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.price }}</td>
                        <td>{{ p.discountPrice }}</td>
                        <td>{{ p.quantity }}</td>
                        <td>{{ p.warrantyTime }}</td>
                        <td>{{ p.addDate|date('Y-m-d') }}</td>
                        {% if p.lastEditDate == '' %}
                            <td>N/A</td>
                        {% else %}
                            <td>{{ p.lastEditDate|date('Y-m-d') }}</td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
    <!-- GPU -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">GPUs</h1>
    </div>
    <table class="table table-striped table-sm">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Price</th>
            <th>Discount Price</th>
            <th>Quantity</th>
            <th>Warranty</th>
            <th>Add Date</th>
            <th>Edit Date</th>
        </tr>
        {% for p in products %}
            {% for gpu in gpus %}
                {% if p.productNumber == gpu.productNumber %}
                    <tr>
                        <td>{{ p.productNumber }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.price }}</td>
                        <td>{{ p.discountPrice }}</td>
                        <td>{{ p.quantity }}</td>
                        <td>{{ p.warrantyTime }}</td>
                        <td>{{ p.addDate|date('Y-m-d') }}</td>
                        {% if p.lastEditDate == '' %}
                            <td>N/A</td>
                        {% else %}
                            <td>{{ p.lastEditDate|date('Y-m-d') }}</td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
    <!-- RAMs -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">RAMs</h1>
    </div>
    <table class="table table-striped table-sm">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Price</th>
            <th>Discount Price</th>
            <th>Quantity</th>
            <th>Warranty</th>
            <th>Add Date</th>
            <th>Edit Date</th>
        </tr>
        {% for p in products %}
            {% for ram in rams %}
                {% if p.productNumber == ram.productNumber %}
                    <tr>
                        <td>{{ p.productNumber }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.price }}</td>
                        <td>{{ p.discountPrice }}</td>
                        <td>{{ p.quantity }}</td>
                        <td>{{ p.warrantyTime }}</td>
                        <td>{{ p.addDate|date('Y-m-d') }}</td>
                        {% if p.lastEditDate == '' %}
                            <td>N/A</td>
                        {% else %}
                            <td>{{ p.lastEditDate|date('Y-m-d') }}</td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>

    <!-- PSUs -->

        </div>
        <div class="col-sm-6">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">PSUs</h1>
            </div>
    <table class="table table-striped table-sm">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Price</th>
            <th>Discount Price</th>
            <th>Quantity</th>
            <th>Warranty</th>
            <th>Add Date</th>
            <th>Edit Date</th>
        </tr>
        {% for p in products %}
            {% for psu in psus %}
                {% if p.productNumber == psu.productNumber %}
                    <tr>
                        <td>{{ p.productNumber }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.price }}</td>
                        <td>{{ p.discountPrice }}</td>
                        <td>{{ p.quantity }}</td>
                        <td>{{ p.warrantyTime }}</td>
                        <td>{{ p.addDate|date('Y-m-d') }}</td>
                        {% if p.lastEditDate == '' %}
                            <td>N/A</td>
                        {% else %}
                            <td>{{ p.lastEditDate|date('Y-m-d') }}</td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
    <!-- Storages -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Storages</h1>
    </div>
    <table class="table table-striped table-sm">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Price</th>
            <th>Discount Price</th>
            <th>Quantity</th>
            <th>Warranty</th>
            <th>Add Date</th>
            <th>Edit Date</th>
        </tr>
        {% for p in products %}
            {% for storage in storages %}
                {% if p.productNumber == storage.productNumber %}
                    <tr>
                        <td>{{ p.productNumber }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.price }}</td>
                        <td>{{ p.discountPrice }}</td>
                        <td>{{ p.quantity }}</td>
                        <td>{{ p.warrantyTime }}</td>
                        <td>{{ p.addDate|date('Y-m-d') }}</td>
                        {% if p.lastEditDate == '' %}
                            <td>N/A</td>
                        {% else %}
                            <td>{{ p.lastEditDate|date('Y-m-d') }}</td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
    <!-- CPU Coolers -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">CPU Coolers</h1>
    </div>
    <table class="table table-striped table-sm">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Price</th>
            <th>Discount Price</th>
            <th>Quantity</th>
            <th>Warranty</th>
            <th>Add Date</th>
            <th>Edit Date</th>
        </tr>
        {% for p in products %}
            {% for cpucooler in cpucoolers %}
                {% if p.productNumber == cpucooler.productNumber %}
                    <tr>
                        <td>{{ p.productNumber }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.price }}</td>
                        <td>{{ p.discountPrice }}</td>
                        <td>{{ p.quantity }}</td>
                        <td>{{ p.warrantyTime }}</td>
                        <td>{{ p.addDate|date('Y-m-d') }}</td>
                        {% if p.lastEditDate == '' %}
                            <td>N/A</td>
                        {% else %}
                            <td>{{ p.lastEditDate|date('Y-m-d') }}</td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
    <!-- Chassis -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Cases</h1>
    </div>
    <table class="table table-striped table-sm">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Price</th>
            <th>Discount Price</th>
            <th>Quantity</th>
            <th>Warranty</th>
            <th>Add Date</th>
            <th>Edit Date</th>
        </tr>
        {% for p in products %}
            {% for case in chassis %}
                {% if p.productNumber == case.productNumber %}
                    <tr>
                        <td>{{ p.productNumber }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.price }}</td>
                        <td>{{ p.discountPrice }}</td>
                        <td>{{ p.quantity }}</td>
                        <td>{{ p.warrantyTime }}</td>
                        <td>{{ p.addDate|date('Y-m-d') }}</td>
                        {% if p.lastEditDate == '' %}
                            <td>N/A</td>
                        {% else %}
                            <td>{{ p.lastEditDate|date('Y-m-d') }}</td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
    <!-- Cases coolers -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Cases coolers</h1>
    </div>
    <table class="table table-striped table-sm">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Price</th>
            <th>Discount Price</th>
            <th>Quantity</th>
            <th>Warranty</th>
            <th>Add Date</th>
            <th>Edit Date</th>
        </tr>
        {% for p in products %}
            {% for casecooler in chassiscoolers %}
                {% if p.productNumber == casecooler.productNumber %}
                    <tr>
                        <td>{{ p.productNumber }}</td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.price }}</td>
                        <td>{{ p.discountPrice }}</td>
                        <td>{{ p.quantity }}</td>
                        <td>{{ p.warrantyTime }}</td>
                        <td>{{ p.addDate|date('Y-m-d') }}</td>
                        {% if p.lastEditDate == '' %}
                            <td>N/A</td>
                        {% else %}
                            <td>{{ p.lastEditDate|date('Y-m-d') }}</td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>
        </div>
    </div>
{% endblock %}