{% extends 'UserArea/base.html.twig' %}
{% block body %}
    <div class="container">
        <div><h2>Choose CPU</h2></div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-2">
                <div class="column medium-4 large-3">
                        <button class="button small js-reset">Reset Filters</button>

                        <!-- Pagination buttons will be generated here -->
                        <div class="pager-list"></div>

                <div class="column medium-8 fr">

                    <div class="mixitup_filter accordian" id="js-filters">

                        <div class="dropdown">
                            <div class="row">

                                <div class="column medium-4">
                                    <div class="search_type filter">
                                        <fieldset>
                                            <input class="form-control" id="search" type="text" onkeyup="myFunction()" placeholder="Search..">
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="column medium-4">
                                    <div class="search_type filter">
                                        <fieldset>
                                            <label for="filter-type">Search by Socket</label>
                                            <select id="filter-type" name="filter-type" class="filter filterDropdown fancySelect">
                                                <option value="">All</option>
                                                <option  value=".equestrian">Equestrian</option>
                                                <option  value=".landfarm">Land &amp; Farm</option>
                                                <option  value=".countryhouse">Country House</option>
                                                <option  value=".development">Development</option>
                                                <option  value=".commercial">Commercial</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>



                                <div class="column medium-8">
                                    <div class="row">
                                        <div class="column medium-6">

                                            <div class="search_type filter">
                                                <fieldset>
                                                    <label for="minPrice">Price Min</label>
                                                    <select id="minPrice" name="minPrice" title="Minimum Price" class="filter filterPrice fancySelect">
                                                        <option value="price-0" selected>No Minimum Price</option>
                                                        <option value="price-100000" >100&euro;</option>
                                                        <option value="price-200000" >200&euro;</option>
                                                        <option value="price-300000" >300&euro;</option>
                                                        <option value="price-400000" >400&euro;</option>
                                                        <option value="price-500000" >500&euro;</option>
                                                        <option value="price-750000" >750&euro;</option>
                                                        <option value="price-1000000" >1,000&euro;</option>
                                                        <option value="price-1500000" >1,500&euro;</option>
                                                    </select>
                                                </fieldset>
                                            </div>

                                        </div>
                                        <div class="column medium-6">

                                            <div class="search_type filter">
                                                <fieldset>
                                                    <label for="maxPrice">Price Max</label>
                                                    <select data-mix-filter="true" id="maxPrice" name="maxPrice" title="Maximum Price" class="filter filterPrice fancySelect">
                                                        <option value="price-10000000" selected>No Maximium Price</option>
                                                        <option value="price-100000" >100&euro;</option>
                                                        <option value="price-200000" >200&euro;</option>
                                                        <option value="price-300000" >300&euro;</option>
                                                        <option value="price-400000" >400&euro;</option>
                                                        <option value="price-500000" >500&euro;</option>
                                                        <option value="price-750000" >750&euro;</option>
                                                        <option value="price-1000000" >1,000&euro;</option>
                                                        <option value="price-1500000" >1,500&euro;</option>
                                                    </select>
                                                </fieldset>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="col-10">
            <form action="{{ 'compare/cpu' }}">
            <button type="submit" class="btn btn-primary enableOnInput" disabled='disabled'>Compare 2 components</button>
            <div class="table-responsive">
                <table id="table" class="table table-bordered table-striped table-sm">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Socket</th>
                        <th>Speed</th>
                        <th>Cores</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in products %}
                        {% for c in cpus %}
                            {% if c.productNumber == p.productNumber %}
                    <tr>
                        <td>
                            <div class="checkbox" id="yyy">
                                <label><input class="s-checkbox" type="checkbox" name="selected[]" onclick="xxx()" value="{{ p.productNumber }}"></label>
                            </div>
                        </td>
                        <td>{{ p.name }}</td>
                        <td>{{ p.price }}</td>
                        <td>{{ c.socket }}</td>
                        <td>{{ c.speed }}</td>
                        <td>{{ c.cores }}</td>
                    </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation text-center">
                    {{ knp_pagination_render(products) }}
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
    <script>
        function xxx()
        {
            var zzz = $(".s-checkbox:checked").length;
            if(zzz == 2) {
                $('.enableOnInput').prop('disabled', false);
            }
            else{
                $('.enableOnInput').prop('disabled', true);
            }
        }
    </script>
        <script>
            var $rows = $('#table tr');
            $('#search').keyup(function() {
                var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase().split(' ');

                $rows.hide().filter(function() {
                    var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                    var matchesSearch = true;
                    $(val).each(function(index, value) {
                        matchesSearch = (!matchesSearch) ? false : ~text.indexOf(value);
                    });
                    return matchesSearch;
                }).show();
            });
    </script>
{% endblock %}