{% extends 'UserArea/base.html.twig' %}
{% block body %}
    <div class="container">
        <div><h2>Compare components</h2></div>
    </div>
    <div class="container">
        <a href="{{ path('choose_cpu') }}"><h5>Back to list</h5></a>
    </div>
    <div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <tbody>
            <tr>
                <th>Name</th>
                <td>{{ product1.name }}</td>
                <td>{{ product2.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product1.price }}</td>
                <td>{{ product2.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product1.longDescription }}</td>
                <td>{{ product2.longDescription }}</td>
            </tr>
            <tr>
                <th>Socket</th>
                <td>{{ cpu1.socket }}</td>
                <td>{{ cpu2.socket }}</td>
            </tr>
            <tr>
                <th>Speed (GHz)</th>
                <td>{{ cpu1.speed }}</td>
                <td>{{ cpu2.speed }}</td>
            </tr>
            <tr>
                <th>Cores</th>
                <td>{{ cpu1.cores }}</td>
                <td>{{ cpu2.cores }}</td>
            </tr>
            <tr>
                <th>Power Cons.</th>
                <td>{{ cpu1.powerConsumption }}</td>
                <td>{{ cpu2.powerConsumption }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}