{% extends 'UserArea/base.html.twig' %}
{% block body %}
    <div class="container">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}

        {{ form_start(form) }}
        {% if not form.vars.valid %}
            {{ form_errors(form.username) }}
            {{ form_errors(form.password.first) }}
        {% endif %}

        <br>

        Username {{ form_widget(form.username) }}
        Password {{ form_widget(form.password.first) }}
        Repeat Password {{ form_widget(form.password.second) }}
        <br>
        <br>
        <button type="submit" class="btn btn-primary btn-raised">Register</button>
        {{ form_end(form) }}
    </div>
{% endblock %}