{% extends 'StaffArea/base.html.twig' %}
{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Search product</h1>
    </div>
    <table class="table table-striped table-sm">
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Warranty</th>
            <th>Buy</th>
        </tr>
        {% for p in product %}
            <tr>
                <td>{{ p.productNumber }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.price }}</td>
                <td>{{ p.quantity }}</td>
                <td>{{ p.warrantyTime }}</td>
                <td><button onclick="location.href='{{ '/staff/products/buy/' ~ p.productNumber }}'" type="button" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button></td></tr>
        {% endfor %}
    </table>
    {% endblock %}